version: '3'

services:
  postgresql-db:
    image: postgres:alpine
    volumes:
      - ./postgresql_data:/var/lib/postgresql/data
    environment:
      TZ: "Europe/Moscow"
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: hotdog123
      POSTGRES_DB: evilcorp
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      # Mapping 8001 localhost port to port 5432 of container
      - 8001:5432
    restart: unless-stopped
